image: node:18

stages:
  - build

cache:
  paths:
    - node_modules/

before_script:
  - npm install -g @angular/cli
  - npm install

build:
  stage: build
  script:
    - ng build --configuration=production
